{{define "Cinema"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/www/style/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSGcinema</title>
</head>
<body>
    <div class="allmovies">
        {{range .}}
        <div class="onemovie">
            <div class="poster">
                <img width="300" height="400" src="{{.PosterURL.String}}" alt="{{.Name}}">
            </div>
            <div class="text">
                <h4>Фильм: <a href="/movies/{{.ID}}">{{.Name}}</a> </h4>
                <p>Год: {{.ReleaseMovie.Int}}</p>
                <p>Страна: {{.Country.String}}</p>
                <p>Жанр: {{.Genere.String}}</p>
                <p>Продолжительность: {{.Duration.String}}</p>
            </div>
        </div>
        {{end}}
    </div>
</body>
</html>
{{end}}